<h1>Fridge</h1>
<img src="img/loading.gif" data-ng-hide="hideLoadingIcon" style=" display:block;margin:auto;" />
<table class="table table-striped" data-ng-show="hideLoadingIcon">
  <thead>
    <tr>
      <th><b>Name</b></th>
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="data in model">
      <td style="width: 200px">{{data.Name}}</td>
      <td>
        <table class="table">
          <tr data-ng-repeat="product in data.Products">
            <td style="width: 120px;"><span style="font-style: italic;">Amount:</span> {{product.Amount}}</td>
            <td><span style="font-style: italic;">Expiring:</span> {{product.ExpirationDate | date: "dd.MM.yyyy"}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>