<h1>Recipes</h1>
<img src="img/loading.gif" data-ng-hide="hideLoadingIcon" style=" display:block;margin:auto;" />
<h2>{{model.Name}}</h2>
<div class="ingredients">
  <ul style="white-space: nowrap; padding-left: 0px;">
    <li style="list-style: none;display:inline; margin: 2px 0px 2px 0px;" data-ng-repeat="ingredient in model.Ingredients">
      <span style="font-size: 85% !important;" class="label" data-ng-class="{'label-success': isEnough(ingredient), 'label-danger': !isEnough(ingredient)}">{{ingredient.Amount}} {{ingredient.Name}}<span data-ng-show="!isEnough(ingredient)"> ({{difference(ingredient)}} missing)</span></span>
    </li>
  </ul>
</div>
<div style="margin-top: 5px;">
  <span data-ng-repeat="i in [1, 2, 3, 4, 5]">
    <img data-ng-show="model.Rating >= i" src="img/star-full.gif" style="width:20px;" />
    <img data-ng-show="model.Rating < i" src="img/star-empty.gif" style="width:20px;" />
  </span>
</div>
<hr />
<div class="description">
  {{model.Description}}
</div>
<div style="margin-top: 20px;">
  <input type="button" class="btn btn-primary" value="Cook!" ng-disabled="!enoughIngredients" data-ng-click="cook()" ui-sref="recipesDetailed(id)"/>
</div>